* {
    margin: 0;
    padding: 0;
}



#root {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 50px;
}

#field {
    position: relative;
    width: 600px;
    height: 500px;
    border: 2px solid black;
}

#paddle {
    position: absolute;
    width: 70px;
    height: 20px;
    background: black;
}

#ball {
    position: absolute;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: gray;
}
